@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 209 100% 95%;
    --foreground: 209 5% 0%;
    --card: 209 50% 90%;
    --card-foreground: 209 5% 10%;
    --popover: 209 100% 95%;
    --popover-foreground: 209 100% 0%;
    --primary: 209 47.3% 36.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 171 30% 85%;
    --muted-foreground: 209 5% 35%;
    --accent: 171 30% 80%;
    --accent-foreground: 209 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 209 5% 90%;
    --border: 209 30% 50%;
    --input: 209 30% 18%;
    --ring: 209 47.3% 36.5%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 209 50% 5%;
    --foreground: 209 5% 90%;
    --card: 209 50% 0%;
    --card-foreground: 209 5% 90%;
    --popover: 209 50% 5%;
    --popover-foreground: 209 5% 90%;
    --primary: 209 47.3% 36.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 171 30% 15%;
    --muted-foreground: 209 5% 60%;
    --accent: 171 30% 15%;
    --accent-foreground: 209 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 209 5% 90%;
    --border: 209 30% 18%;
    --input: 209 30% 18%;
    --ring: 209 47.3% 36.5%;
    --radius: 0.5rem;
  }
  
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .container {
    @apply max-sm:px-4;
  }
}

/*
Optimize dropdowns for mobile
 */
[data-radix-popper-content-wrapper] {
  @apply w-full md:w-auto;
}

[data-radix-menu-content] {
  @apply rounded-none md:rounded-lg;
}

[data-radix-menu-content] [role="menuitem"] {
  @apply md:min-h-0 min-h-12;
}

.site-header > .container:before,
.site-footer > .container:before {
  background: radial-gradient(62.87% 100% at 50% 100%, theme('colors.gray.200') 0%, rgba(255, 255, 255, 0) 100%);

  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.dark .site-header > .container:before,
.dark .site-footer > .container:before {
  background: radial-gradient(62.87% 100% at 50% 100%, rgba(255, 255, 255, .16) 0%, rgba(255, 255, 255, 0) 100%);
}

.site-footer > .container:before {
  top: 0;
}